body{
  background: url(https://zawadibirya.github.io/img/portfoliobackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  text-color: black;
}
p {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.6;
  text-color: black;
}
div
   {
   text-align: center;
   }
ul li{
  display: inline;
  line-height: 1.6;
}

img {
  border-radius: 50%;
}
a {
  color: black;
}
