body{
  background: url(https://zawadibirya.github.io/img/portfoliobackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  text-color: black;
}
p {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.6;
  text-color: black;
}
.projects
   {
   text-align: center;
   border:2px solid black;
   padding-left: 6px;
   border-style: hidden;
   }
ul li{
  display: inline;
  line-height: 1.6;
}

img {
  border-radius: 50%;
}
a {
  color: black;
  }
  .footer{
    width: 675px;
    float:right;
  }
